<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>drops-overlay v{{ .Version }}</title>
    <style>
        html, body {
            background-color: transparent;
            color: white;
            overflow: hidden;
        }
        #videoDiv {
            z-index: 1;
            background-color: #000000;
            width: 100vw;
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
        }
        video {
            z-index: 2;
            width: 100vw;
            max-height: 100vh;
            background-color: #000000;
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
        }
        .show {
            opacity: 1;
            transition: opacity 150ms linear;
        }
        .hide {
            opacity: 0;
            transition: opacity 170ms linear;
        }
        #musicAnnounce {
            padding: 15px;
            position: relative;
            max-width: fit-content;
            margin-left: auto;
            margin-right: auto;
            z-index: 2147483647;
            border: 1px solid red;
            background-color: black;
        }
    </style>
</head>
<body>
<div id="videoDiv" class="hide">
    <video id="videoEm" src="" onended="videoControl('', false);isVideoEnded = true;videoEnded()"></video>
</div>
<div id="musicAnnounce" class="hide">
    <p>song</p>
</div>
<script>
    // TODO : font
    console.log("Version: {{ .Version }}");
    let host = location.host;
    let wsAddress = `ws://${host}/overlayWS`;
    let assetUrl = `http://${host}/assets?file=`
    let cws;
    let connectionStatus = false;
    let echoLoopVols = [0.2, 0.3, 0.5, 0.6, 0.9];
    let playingAudio = [];
    let playingAudioCount = 0;
    let playingMusic;
    let audioVol = 0.8;
    let audioPlaybackRate = 1.0;
    let videoPlaybackRate = 1.0;
    let isVideoEnded = false;
    let musicVol = 0.2;
    let videoVol = 0.8;
    let videoPlayerState = "ready";
    let musicAnnounce = document.getElementById("musicAnnounce");
    let musicAnnounceTimeout = null;
    let vidDiv = document.getElementById("videoDiv");
    let vid = document.getElementById("videoEm");
    let videoControl = (data, show) => {
        console.log(`videoControl: ${data} -> ${show}`);
        if (data !== "") {
            console.log(`videoControl: ${data}`);
            vid.src = data;
        }
        if (show) {
            isVideoEnded = false;
            vidDiv.classList.remove("hide");
            vidDiv.classList.add("show");
            vid.currentTime = 0;
            vid.play();
            vid.playbackRate = videoPlaybackRate;
            vid.volume = videoVol;
        } else {
            vid.pause()
            vid.currentTime = 0;
            vid.src = "";
            vidDiv.classList.remove("show");
            vidDiv.classList.add("hide");
        }
    };
    let echoTimeout = 35; // ms
    let echo = (count, audioFilename) => {
        // TODO : scale vol array by vol
        let nv = echoLoopVols[count]
        //console.log(`echo ${count}: ${nv}`);
        if (count !== 0) {
            setTimeout(echo.bind(this, count - 1, audioFilename, nv), echoTimeout);
        }
        let na = new Audio(`${assetUrl}${audioFilename}`);
        playingAudio.push(na);
        na.playbackRate = audioPlaybackRate;
        na.volume = nv;
        na.play();
        playingAudioCount++;
        na.onended = () => {
            playingAudioCount--;
        }
    };
    let processControlMessage = (msg) => {
        let jd;
        try {
            jd = JSON.parse(msg.data);
        }
        catch (e) {
            reportError("Error parsing json", e);
            console.log("Error parsing json:", e);
            return;
        }
        let action = jd["a"];
        let key = jd["k"];
        let value = jd["v"];
        switch (action) {
            case "video":
                switch (key) {
                    case "loop":
                        switch (value) {
                            case "true":
                                vid.loop = true;
                                break;
                            case "false":
                                vid.loop = false;
                                break;
                        }
                        break;
                    case "play":
                        console.log(`${value} play`);
                        if (`${value}`.includes("https://")||`${value}`.includes("http://")) {
                            videoControl(`${value}`, true);
                        } else {
                            videoControl(`${assetUrl}${value}`, true);
                        }
                        break;
                    case "stop":
                        videoControl("", false);
                        isVideoEnded = true;
                        videoEnded();
                        break;
                    case "pr":
                        if (vid.paused) {
                            vid.play();
                        } else {
                            vid.pause();
                        }
                        break;
                    case "seek":
                        vid.currentTime = value;
                        break;
                }
                break;
            case "music":
                switch (key) {
                    case "announce":
                        musicAnnounce.innerHTML = `<h2>${value}</h2>`;
                        musicAnnounce.classList.remove("hide");
                        musicAnnounce.classList.add("show");
                        if (musicAnnounceTimeout !== null) {
                            clearTimeout(musicAnnounceTimeout);
                            musicAnnounceTimeout = null;
                        }
                        musicAnnounceTimeout = setTimeout(() => {
                            musicAnnounce.classList.remove("show");
                            musicAnnounce.classList.add("hide");
                            musicAnnounceTimeout = null;
                        }, 5000);
                        break;
                    case "play":
                        if (playingMusic != null) {
                            playingMusic.pause();
                            playingMusic = null;
                        }
                        playingMusic = new Audio(`${assetUrl}${value}`);
                        playingMusic.volume = musicVol;
                        playingMusic.play();
                        break;
                    case "seek":
                        if (playingMusic != null) {
                            playingMusic.currentTime = value;
                        }
                        break;
                    case "stop":
                        playingMusic.pause();
                        playingMusic = null;
                        break;
                }
                break;
            case "audio":
                switch (key) {
                    case "echoDelay":
                        echoTimeout = value;
                        break;
                    case "echo":
                        echo(echoLoopVols.length, value, audioVol);
                        break;
                    case "play":
                        let na = new Audio(`${assetUrl}${value}`);
                        playingAudio.push(na);
                        na.playbackRate = audioPlaybackRate;
                        na.volume = audioVol;
                        na.play();
                        playingAudioCount++;
                        na.onended = () => {
                            playingAudioCount--;
                        }
                        break;
                    case "stop":
                        playingAudio.forEach((item) => {
                            item.pause();
                        });
                        playingAudioCount = 0;
                        playingAudio = [];
                        break;
                }
                break;
            case "volume":
                switch (key) {
                    case "videoPlaybackRate":
                        videoPlaybackRate = value;
                        vid.playbackRate = value;
                        break;
                    case "playbackRate":
                        audioPlaybackRate = value;
                        playingAudio.forEach((item) => {
                            item.playbackRate = audioPlaybackRate;
                        });
                        break;
                    case "videoVolume":
                        //console.log("videoVolume")
                        videoVol = value;
                        vid.volume = value;
                        break;
                    case "musicVolume":
                        musicVol = value;
                        if (playingMusic != null) {
                            playingMusic.volume = musicVol;
                        }
                        break;
                    case "audioVolume":
                        audioVol = value;
                        playingAudio.forEach((item) => {
                            item.volume = value;
                        });
                        break;
                    default:
                        reportError(`processControlMessage->volume:switch fell through`, key);
                        console.log("you done fucked up -> processControlMessage:volume");
                }
                break;
        }
    };
    let reportError = (info, error) => {
        console.log(info, error);
        cws.send(JSON.stringify({a: "error", k: info, v: error}));
    };
    let connect = () => {
        console.log(`connecting to ${wsAddress}`);
        cws = new WebSocket(wsAddress);
        cws.onopen = function() {
            connectionStatus = true;
            console.log(`connected to ${wsAddress}`);
        }
        cws.onmessage = function(event) {processControlMessage(event, false)};
        cws.onclose = function(e) {
            connectionStatus = false;
            console.log('Socket is closed. Reconnect will be attempted in 5 second(s).', e.reason);
            cws = null;
        };
        cws.onerror = function(err) {
            console.error('Socket encountered error: ', err.message, 'Closing socket');
            cws.close();
        };
    };
    window.addEventListener('load', () => {
        console.log('All assets are loaded');
        connect();
    })
    setInterval(() => {
        if (!connectionStatus) {
            console.log("Socket is closed, connecting...");
            connect();
        }
        if (playingAudioCount === 0 && playingAudio.length > 0) {
            console.log(`Playing Audio count ${playingAudioCount}, all audio ended`);
            playingAudio = [];
        }
    }, 5000);
    let videoEnded = () => {
        videoPlayerState = "ready";
        cws.send(JSON.stringify({a: "video", k: "state", v: "ready"}));
    };
    setInterval(() => {
        cws.send(JSON.stringify({a: "status", k: "connection", v: "connected"}));
        if (playingMusic != null) {
            cws.send(JSON.stringify({a: "music", k: "progress", v: playingMusic.currentTime}));
            cws.send(JSON.stringify({a: "music", k: "duration", v: playingMusic.duration}));
        }
        if (vid.currentTime > 0 && !vid.paused && !vid.ended && vid.readyState > 2) {
            if (videoPlayerState !== "playing") {
                console.log(`${vid.src} playing ${vid.paused}`);
                cws.send(JSON.stringify({a: "video", k: "state", v: "playing"}))
                videoPlayerState = "playing";
            }
            cws.send(JSON.stringify({a: "video", k: "progress", v: vid.currentTime}));
            cws.send(JSON.stringify({a: "video", k: "duration", v: vid.duration}));
        } else if (vid.paused && !vid.ended && !isVideoEnded) {
            if (videoPlayerState !== "paused") {
                console.log(`${vid.src} paused ${vid.paused}`);
                videoPlayerState = "paused";
                cws.send(JSON.stringify({a: "video", k: "state", v: "paused"}));
            }
        }
    }, 100);
</script>
</body>
</html>
